main {
    font-family:'Nutito', sans-serif;
}

.product {
    height: 50%;
    width: 50%;
    display: inline-block;
    align-self: center;
    margin-left: 25%;
}

.product-name {
    margin: 10% 6% 7% 7%;
    font-family:'Nutito', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

.product-block-buy {
    background-color: #ADF;
    border: 4px solid rgba(0, 0, 255, 0.200);
    padding-left: 15%;
    padding: 10%;
    margin-bottom: 10%;
    border-radius: 15px;
}

.product-img-buy {
    position: relative;
    margin-left: 15%;
    height: 70%;
    width: 70%;
    box-shadow: 10px 10px 15px;
}

.buy-form {
    margin: 10% 10% 0;
    display: inline-block;
    position: relative;
    height: 70%;
    width: 70%;
}

.buy-type {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    margin-bottom: 10%;
}

.buy-type div {
    display: inline-block;
    margin: 5%;
}

.buy-type-legend {
    font-size: 1.5em;
    font-weight: bold;
}

.address {
    display: inline-block;
    position: relative; 
    font-size: 1.2em;
    margin-bottom: 10%;
}

.address-legend {
    color: rgb(10, 20, 140);
    font-stretch: extra-expanded;
    font-weight: bold;
    font-size: 1.2em;
}

.send-type {
    display: inline-block;
    position: relative; 
    font-size: 1.2em;
}

.send-type-legend {
    font-size: 1.2em;
}

.send-type label {
    display: inline-block;
    margin:3% 0% 0% 8%;
}

#express-send {
    color: blueviolet;
    font-weight: bold;
}

.sub {
    margin: 5% 15% 0% 40%;
    display: inline;
    color: blue;
    position: relative;
    align-items: center;
}
