.navigation-menu {
    align-content: center;
}

.navigation-menu li {
    display: block;
    padding-right: 10%;
}

.navigation-menu a {
    font-family: 'Nutito', sans-serif;
    display: inline-block;
    margin-right: 2.5%;
	text-transform: uppercase;
	color: #0011d3;
	font-weight: lighter;
	font-size: 1.2em;
	text-decoration: none;
}

.navigation-menu a:hover {
    text-decoration: underline;
}

.most-popular {
    display: block;
    margin: 10% 0 10%;
    text-align: center;
    font-family: 'Nutito', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.product-block {
    margin: 5%;
    box-sizing: border-box;
    border: #0011d3 solid 1px;
    box-shadow: 10px 10px 10px 0 #333;
}

.product-block h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 5%;
    display: inline-block;
    padding-left: 12%;
}

.product-img {
    position: relative;
    display: block;
    height: 60%;
    width: 60%;
    padding-left: 20%;
}

.product-infos {
    padding-left: 30%;
    padding-bottom: 10%;
}

.product-infos li:first-child {
    color: #009952;
}
