
.logo-background {
    background: #ADF;
    position: relative;
    padding-top: 7%;
}


.header-title {
    font-family: 'Nutito', sans-serif;
    align-self: center;
    align-content: center;
    padding: 5%;
    background: #ADF;
    text-align: left;
    width: auto;
    color: #0011d3;
    font-size: 6em;
    display: block;
    position: sticky;
    margin-left: 20%;
    padding: 0% 10% 5%;
}

form {
    border: #ADF 1px solid;
    border-radius: 10px, 15px, 20px, 15px;
    padding: 20px;
    display: block;
    align-self: center;
    margin: 10% 10% 10%
}

form legend{
    font-size: 2em;
    margin: 0% 4% 2%;
}

input {
    display: block;
    margin-bottom: 3%;
    margin-top: 1.5%;
}

.logo {
    margin: 17% 41% 10% 0%;
    display: block;
    float: right;
    position: relative;
}

.copyrights {
    clear: left;
    text-align: center;
    background-color: #ADF;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
}

.copyrights p {
    color: #0011d3;
    font-weight: bold;
}

@media only screen and (max-width: 600px ) {
    .logo {
        width: 10%;
        height: 20%;
    };

    .logo-background {
        background: #ADF;
        position: relative;
        padding-top: 5%;
        margin-left: 0%;
        width: min-content;
    }

    .header-title {
        font-size: 3em;
        align-self: center;
        margin-left: 0%;
        width: fit-content;
    }

    form {
        width:55%;
        margin-left: 0%;
        margin-bottom: 50%;
    }

    input {
        margin-left: 0%;
    }
    .copyrights {
        text-align: center;
        width: auto;
        margin-left: 0%;
        margin-top: 25%;
    }
    .copyrights p {
        margin-left: 0%;
    }
}

